{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% extends "base.html.twig" %}

{% block body %}
	<div class="container col-md-4 mt-4 text-center">
		<h2 class="text text-primary">Add new book</h2>
		{{ form (form) }}
		</div>
	{% endblock %}
